<script>
var estateCreationForm = '<form name="create-estate" action="/wifi/admin/estates/new" method="post">' +
                              'Name: <input type="text" name="name"/>&nbsp;' +
                              'Owner: <input type="text" name="owner"/> &nbsp;&nbsp;' +
                              '<input type="submit" class="button" value="Create" />' +
                         '</form>';

var usersCreationForm = '<form name="upload-users" action="/wifi/admin/gridusers/create" onsubmit="return checkExtension(\'csv\');" enctype="multipart/form-data" method="post">' +
                              'Choose CSV File: <input type="file" name="datafile" size="40" accept=".csv"/></br>' +
                              '<input type="submit" class="button" value="Upload" />' +
                         '</form>';

var loadIARForm = '<form name="load-iar" action="/wifi/user/inventory/upload" onsubmit="return checkExtension(\'iar\');" enctype="multipart/form-data" method="post">' +
                              'Choose IAR File: <input type="file" name="datafile" size="40" accept=".iar"/></br>' +
                              '<input type="submit" class="button" value="Upload" />' +
                         '</form>';

</script>
